<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Jouw vriendenlijst</h1>
        <p class="lead text-muted">Voeg vrienden toe om memories met ze te delen
        </p>
          <div><input type="text" placeholder="e-mailadres"/>   
            <button type="button" class="btn btn-primary" style="margin-left: 5px;">
              Voeg een vriend toe
            </button>
          </div>
      </div>
    </section>
</main>

    <div class="container d-flex justify-content-center">
    <div class="list-group col-6 ">   
        <div class="list-group-item list-group-item-action list-group-item-primary">Jiri Vanhouwe</div>
        <div class="list-group-item list-group-item-action list-group-item-light">Frank Deboosere</div>
        <div class="list-group-item list-group-item-action list-group-item-primary">Paul Jambers</div>
      </div>
    </div>


