

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>{{ memory.title }}</h1>
      <p class="lead text-muted">
        {{ memory.subTitle }}
      </p>
      <p>
        <label id="label-photo" for="file">Foto's toevoegen</label>
        <input
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)"
          multiple
        />
        <a
          [routerLink]="['/memories', memory.id, 'add']"
          id="buttonHeader"
          class="btn my-2"
          style="margin-right: 5px;"
          >Vrienden toevoegen</a
        >
        <a
          [routerLink]="['/memories', memory.id, 'edit']"
          id="buttonHeader"
          class="btn my-2"
          style="margin-right: 5px;"
          >Bewerk memory</a
        >
      </p>
    </div>
  </section>

  <div class="container">
    <div class="alert alert-success text-center" *ngIf="message">{{message}}</div>
    </div>

    <div *ngIf="memory.members">
    <div class="container"  style="margin-bottom: 10px;">
      <span style="margin:4px" class="badge badge-light" *ngFor="let friend of memory.members">{{friend.firstName}} {{friend.lastName}}</span>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div *ngIf="memory.photos">
        <div class="row">
          <div class="col-md-4 d-flex align-items-stretch" style="float:left" *ngFor="let photo of memory.photos">
            <div class="card mb-4 shadow-sm border-0">
              <a>
                <img id="myImg" class="card-img-top mem-img" [src]="'data:image/jpg;base64,'+photo.baseString" />
              </a>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
    <button
      class="btn btn-outline-secondary"
      (click)="goBack()"
      style="width: 80px;"
    >
      <i class="fa fa-chevron-left"></i> Terug
    </button>
  </div>
  </div>
</main>



