#label-photo {
    cursor: pointer;
    background-color: #0069D9;
    border-radius: 4px;
    padding: 6px;
    margin-right: 5px;
    margin-top: 3px;
}


#file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.jumbotron {
    background-image: url("/assets/view1.jpg");
    background-size: auto;
    background-position: 50% 20%;
  }