<div class="container"><div class="card-body">
  <div class="row">
    <div class="col-2">Zoeken:</div>
    <div class="col-4">
      <input type="text" [(ngModel)]="listFilter" />
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <app-add-memory class="col-4"></app-add-memory>
    <div class="card-deck">
      <div *ngIf="memories$ | async as memories">
        <div *ngIf="memories && memories.length">
          <div  *ngFor="let memory of memories  | memoryFilter: listFilter">
            <div class="card-header">
              <h5>{{ memory.title }}</h5>
            </div>
            <a href="#" (click)="clickMemory(memory)">
              <img
                class="card-img-top"
                [src]="memory.imageUrl"
                [title]="memory.title"
                alt="{{ memory.title }}"
              />
            </a>
            <div class="card-body">
              <p class="card-text">{{ memory.subTitle }}</p>
            </div>
            <div class="card-footer text-muted">
              {{ memory.startDate | date: "dd/MM/yyyy" }} -
              {{ memory.endDate | date: "dd/MM/yyyy" }}
              <app-location
                [country]="memory.location.country"
                [city]="memory.location.city"
              ></app-location>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
