<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Jouw herinneringen</h1>
      <p class="lead text-muted">
       Zowel kleine als grootse momenten verzameld </p>
        <div>
          <button type="button" class="btn btn-primary" (click)="clickAddMemory()" style="margin-bottom: 10px;">
            Nieuwe memory
          </button>
        </div>
        <input type="text" 
        (keyup)="filterMemories$.next($event.target.value)"
        class="form-control justify-content-center"  
        style="width: 50%; margin: 0 auto; margin-bottom: 10px;"
        placeholder="zoeken"/>   
    </div>
  </section>

<div class="container">
    <div *ngIf="memories$ | async as memories">
      <div *ngIf="memories && memories.length">
        <div class="row">
        <div *ngFor="let memory of memories | memoryFilter: listFilter" class="col-4 d-flex align-items-stretch">
          <div class="card mb-3">
            <div class="card-body">
              <a [routerLink]="['/memories', memory.id]">
                <img
                  class="card-img-top"
                  [src]="'data:image/jpg;base64,'+memory.photo.baseString"
                  [title]="memory.title"
                  alt="{{ memory.title }}"
              /></a>
              <h5 class="card-title">{{ memory.title }}</h5>
              <p class="card-text">{{ memory.subTitle }}</p>
              <p class="card-footer text-muted">
                {{ memory.startDate | date: "dd/MM/yyyy" }} -
                {{ memory.endDate | date: "dd/MM/yyyy" }}
                <app-location
                  [country]="memory.location.country"
                  [city]="memory.location.city"
                ></app-location>
              </p>
            </div>
          </div></div>
        </div>
      </div>
    </div>

</div>
