<div class="container"><section class="section section--menu" id="Viola">
  <nav class="menu menu--viola">

    <ul class="menu__list">
      <li class="menu__item menu__item--current">
        <a class="menu__link" href="#">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Memories</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Vrienden</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Instellingen</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Contacteer ons</a>
      </li>
    </ul>     
  </nav>
</section>
</div>

<div>
  <app-memory-list></app-memory-list>
</div>
