<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 style="color:grey">Jouw vriendenlijst</h1>
      <p class="lead text-muted" >
        Voeg vrienden toe om memories met ze te delen, <br />indien ze nog geen
        account hebben, kan je ze uitnodigen!
      </p>
      <div class="form-group">
        <input
          class="form-control justify-content-center"
          type="text"
          placeholder="e-mailadres"
          style="width: 50%; margin: 0 auto; margin-bottom: 10px;"
          [(ngModel)]='emailInput'
        />
        <button
          type="button"
          class="btn btn-info"
          style="margin-right: 5px;"
          (click)="addFriend()"
        >
          Voeg een vriend toe
        </button>
        <button type="button" class="btn btn-warning" (click)="inviteFriend()">
          Nodig een vriend uit
        </button>
      </div>
    </div>
  </section>
</main>

<div class="container">
<div class="alert alert-success text-center" *ngIf="message">{{message}}</div>
<div class="alert alert-danger text-center" *ngIf="errorMessage">{{errorMessage}}</div>
</div>

<div *ngFor="let friend of _userWithFriends.friends">
  <div class="container d-flex justify-content-center">
    <div class="list-group col-6">
      <div
        class="list-group-item list-group-item-action list-group-item-light"
        style="margin-bottom: 3px;"
      >
        {{ friend.firstName }} {{ friend.lastName }}
        <i class="fas fa-trash-alt pull-right" (click)="deleteFriend(friend.email)" style="cursor: pointer;"></i>
      </div>
    </div>
  </div>
</div>
