<main class="container-full-bg">
  <section class="jumbotron" style="height: max-content;">
    <div class="container">
      <h4>Login</h4>
      <form [formGroup]="user" (ngSubmit)="onSubmit()">
    
        <div class="formGroup">
          <input
          data-cy="userField"
          style="max-width:300px; margin-bottom:5px;"
          class="form-control"
          placeholder="e-mail"
          formControlName="username"/>
        </div>
    
        <div class="formGroup">
          <input
          data-cy="passwordField"
             style="max-width:300px"
             class="form-control"
              type="password"
              placeholder="wachtwoord"
              formControlName="password"/>
        </div>
    
        <div style="margin:10px">
          <button class="btn btn-outline-warning" type="submit" style="margin-right:10px">Login</button>
       </div>
    
      </form>
    
      <div class="alert alert-secondary" *ngIf="errorMessage">
        Controleer het opgegeven e-mailadres en wachtwoord.
      </div>
    </div>

  </section>
</main>


