/* You can add global styles to this file, and also import other style files */
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


.jumbotron {
    background-image: url("assets/background.jpeg");
    background-size: auto;
    background-position: 50% 54%;
  }

h1{
    color: white;
  }