<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Voeg vrienden toe</h1>
        <p class="lead text-muted">{{ memory.title }}</p>
      </div>
    </section>
  </main>

<div *ngIf="friends.length; else noFriendsToShow">
  <div *ngFor="let friend of friends">
    <div class="container d-flex justify-content-center">
      <div class="list-group col-6">
        <div
          class="list-group-item list-group-item-action list-group-item-light"
          style="margin-bottom: 3px;"
        >
          {{ friend }}
          <i class="fas fa-plus pull-right" style="cursor: pointer;" (click)="addFriendToMemory(friend)"></i>
        </div>
      </div>
    </div>
  </div> 
</div>
<ng-template #noFriendsToShow>
  <div class="container alert alert-success text-center">
    <p>Je hebt geen vrienden die je aan deze memory kan toevoegen.</p>
  </div>
</ng-template>